@import "tailwindcss";
@plugin "daisyui";

/* Layout selalu seperti mobile */
html, body {
  max-width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
  touch-action: manipulation; /* kadang membantu di mobile */
}


